@media screen and (min-width:400px) and (max-width: 600px){
    body{
        background: #f8f1f1;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }
    nav{
        height: 200px;
        width: 100%;
    }
    .logo{
       margin-top: -50px;
       width: 50%;
       margin-left: 0%;
    }
    .logo img{
        width: 100%;
    }
    .nav-icons{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-left: 15%;
        width: 30%;
        height: auto;
        margin-top: -60px;
        cursor: pointer;
    }
    .search-icon{
        width: 10%;
        display: block;
    }
    
    .menu-icon{
        margin-left: 0%;
        display: block;
    }
    .remove{
        display: none;
    }
    
     .nav-list {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        width: 101%;
        background: #d6d6d6;
        margin-top: 96.5px;
        padding: 10px 0;
        margin-left: -4.4%;
        margin-right: 0%;
        height: auto;
    }
    .nav-list li{
        border: 2px solid #dc4b25;
        padding: 10px 0%;
        border-top: none;
        border-bottom: none;
        border-left: none;
        list-style: none;
        margin-right: 0;
        height: 30px;
        width: 20%;
        margin-left: 0;
    }
    .active{
        display: none;
    }
    .nav-list .a2 {
        border-right: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 0px;
    }
    .nav-list a{
        color: black;
        text-decoration: none;
        margin-left: 0%;
        margin-top: -2px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .nav-list .s{
        border-left: none;
    }
    a::after{
        content: '';
        width: 0;
        height: 2px;
        background-color: #24cfdd;
        position: absolute;
        left: 0;
        top: 100%;
    }
    .nav-list li a:hover::after{
        width: 100%;
    }
    
    .nav-list .vec{
        display: block;
        margin-right: 30%;
        margin-top: 0px;
    }
    
.home{
    width:10%;
}
.politics{
    border: 1px solid #d0a6a6;
    width: 17%;
    border-top: none;
    border-right: none;
    border-bottom: none;
}

.header-news{
    grid-template-columns: 1fr;
    padding: 0 3%;
    width: 100%;
}
.left-header-news{
    width: 100%;
}
.image-cont{
    width: 100%;
    height: auto;
    top: 298px;
    margin: 0;
}
.image-cont img{
    width: 100%;
    margin: 30px 0%;
}
.left-header-news-text{
    width: 100%;
    height: 70px;
    margin: 0;
}
.left-header-news p{
    width: 100%;
    height: 50px;
    font-size: 100%;
    line-height: 100%;
    margin-top: 0px;
    padding: 0px 0%;
}
.left-header-news span{
    width: 90%;
    margin-top: -25px;
    margin-left: 5%;
    height: 20px;
}
.left-header-news span p{
    width: 100%;
    height: 16px;
    font-size: 10px;
    line-height: 12px;
    margin-left: 0%;
    padding: 0px;
    margin-top: 0px;
}
.left-header-news span .p2{
    margin-left: 100px;
}
.social-icons{
    display: none
}

.left-news-article{
    width: 100%;
    height: 1550px;
    margin-left: 0%;
    margin-top: 20px;
}
.left-news-article-contents{
    margin-top: 0px;
}
.left-news-article-content{
    margin-top: 0px;
    height: 80px;
    width: 100%;
    padding: 0;
}
.left-news-article p{
    font-style: regular;
    font-size: 90%;
    line-height: 100%;
    letter-spacing: 4%;
    font-weight: 400;
    margin-bottom: -10px;
    width: 100%;
    margin-top: 10px;
    height: auto;
    
}
.reply-container{
    width: 100%;
    height: 680px;
    background: #d6d6d6;
    margin-top: 200px;
    border: 1px solid #acacac;
}
.reply-container p{
    width: 50%;
    height: 18px;
    font-size: 100%;
    line-height: 17.6px;
    text-transform: uppercase;
    margin-top: 0px;
}
.input-container{
    border: none;
    width: 100%;
}
.reply-container span{
    width: 80%;
    margin-top: 0px;
    margin-left: 0%;
}
.reply-container span p{
    font-weight: 400;
    font-size: 74%;
    margin-top: 20px;
    line-height: 100%;
    width: 95%;
    margin-left: 0%;
   border: none; 
}
form{
    width: 100%;
}

textarea{
    width: 100%;
    height: 127px;
    margin-bottom: 20px;
    outline: none;
}
form input{
    width: 70%;
    height: 47px;
    border: 0.5px solid #acacac;
    outline: none;
    color: #eeeeee;
}
input, label{
    width: 80%;
    font-size: 60%;
    line-height: 100%;
    margin-bottom: 20px;
    color: #5f5f5f;
}
.reply-container .checkmark{
    height: 9px;
    width: 90%;
    margin-top: 5px;
}
.labelcont{
    margin-left: 0%;
}
.reply-container .labelcont p{
    width: 100%;
    height: 10px;
    font-size: 7px;
    color: #5f5f5f;
    line-height: 8.8px;
    margin-left: 5%;
    margin-top: 0px;
}
.reply-container .checkmark{
    margin-top: -30px;
    margin-left: -5.5%;
    height: 20px;
    width: 20px;
    background: #fff;
    
}

.reply-container .labelcont .checkmark::after{
    left: 1.5%;
    top: -1px;
    width: 1%;
    height: 10.5px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    color: red;
}

.submit{
    width: 121px;
    height: 23.82px;
    border-radius: 5px;
    margin-top: 0px;
    font-size: 10px;
    margin-left: 50%;
    line-height: 12.57px;
}
/*Environment*/
.environment-observationcartoon{
    grid-template-columns: 1fr;
    margin-top: 50px;
    padding: 0 2.5%;
}
.environment-container{
    width: 100%;
    height: 400px;
}
.environment-title{
    width: 70%;
    height: 50.11px;

}
.environment-title::after{
width: 100%;
height: 50.11px;
}
.environment-title h1{
font-size: 150%;
}
.environment-img {
    margin-top: 50px;
    margin-left: 0px;
  width: 100%;
}
.environment-img img{
    width: 100%;
}
.environment-img p{
    width: 100%;
    height: 74px;
    margin-left: 0%;
    font-size: 150%;
    line-height: 100%;
    font-weight: 700;
    padding: 0 2%;
    margin-top: -100px;
    grid-template-columns: 1fr;
}
.environment-img span{
    display: flex;
    margin-top: 250px;
}
.environment-img span p{
    width: 100%;
    height: 15px;
    font-family: 'Lato';
    font-weight: 400;
    font-size: 100;
    line-height: 100%;
    margin-top: -270px;
}

.observercartoon-container{
    margin-top: 50px;
    width: 100%;
}
.observercartoon-title{
    width: 70%;
    height: 50.11px;
    left: 0%;
    top: 30px;
}
.observercartoon-title::after{
height: 50.11px;
left: 1%;

}
.observercartoon-title h1{
font-size: 150%;
}
.observercartoon-img{
    margin-top: 50px;
    margin-left: 0%;
  width: 100%;
}
.observercartoon-img img{
    width: 100%;
}

.observercartoon-img p{
    width: 100%;
    height: 74px;
    margin-left: 0%;
    font-size: 170%;
    line-height: 100%;
    font-weight: 700;
    padding: 0 2%;
    margin-top: -100px;
}
.observercartoon-img span{
    display: flex;
    margin-top: 250px;
}
.observercartoon-img span p{
    width: 100%;
    height: 8px;
    font-family: 'Lato';
    font-weight: 400;
    font-size: 80%;
    line-height: 100%;
    margin-top: -270px;
}


.right-header-news{
    display: none;
}
.footer{
    margin-top: -100px;
    width: 100%;
    background: #000;
    height: 1300px;
 
}
.footer-nav{
    grid-template-columns: 1fr;
    width: 100%;
    margin-top: -1250px;
    margin-left: 0%;
}

.footer-img1{
    display: none;
}
.footer-img2{
    display: none;
}

.grid1{
    margin-left: 0%;
    width: 100%;
    margin-top: 0%;
}
.grid1 img{
    margin-left: 10%;
    width: 50%;
}
.grid1 p{
    width: 95.5%;
    height: auto;
    font-size: 100%;
    text-align: center;
    padding: 0%;
    margin-left: 3%;
    font-size: 90%;
}
.icon {
    margin-top: 0%;
    display: block;
    width: 100%;
    margin-left: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon img{
    width: 5%;
    display: block;
    margin-left: 0;
    margin-top: 0;
}
.icons p{
    font-size: 90%;
    width: 100%;
    margin-top: 0%;
    height: 30px;
    margin-left: 0%;
}

.grid2{
    margin-top: 10%;
    width: 45%;
    height: auto;
    padding: 0;
    margin-left: 3%;
}
.grid2 .grid-title{
    margin-top: 10%;
    margin-left: 10%;
}
.grid2 .grid-title p{
    margin-top: 0%;
    font-size: 100%;
}
.grid2 li{
    padding: 5% 0%;
    width: 100%;
    margin-left: 5%;
}
.grid2 li a{
    text-transform: uppercase;
    text-align: center;
    margin-left: 3%;
    width: 100%;
    font-size: 13px;
    font-weight: bold;
}

.grid2 a:hover{
    color: #dd4b24;
}

.grid-title{
    margin-left:100px;
    font-size: 150%;
    text-decoration: underline;
}
.grid3{
    margin-left: 50%;
    margin-top: -61.5%;
    padding: 0;
    width: 50%;
    height: auto;
}
.grid3 .grid-title{
    margin-top: 10%;
    margin-left: 10%;
}
.grid3 .grid-title p{
    margin-top: 0%;
    font-size: 100%;
}
.grid3 ul{
    padding: 0;
}
.grid3 li{
    padding: 5% 0%;
    width: 100%;
    margin-left: 5%;
}
.grid3 li a{
    text-transform: uppercase;
    text-align: center;
    margin-left: 3%;
    width: 100%;
    font-size: 80%;
    font-weight: bold;
}

.grid3 a:hover{
    color: #dd4b24;
}

.grid4{
    margin-left: 0%;
    width: 100%;
    margin-top: 30px;
    height: auto;
}
.grid4 .grid-title p{
    margin-left: 0%;
    width: 114%;
    font-size: 100%;
    word-spacing: 10px;
}
.grid4 .text{
    font-size: 100%;
    width: 98.8%;
    padding: 0;
    font-weight: bold;
    height: 20px;
    margin-left: 0%;
    margin-top: 10px;
    text-align: center;
}
input{
    width: 95%;
    padding: 2%;
    margin-top:20px;
    color: #fff;
    background: transparent;
    outline: none;
    margin-left: 0%;
}
.submit-btn{
    width: 95%;
    margin-bottom: 5%;
}
.copyright{
    margin-left: 3%;
    width: 95%;
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: auto;
}
.copyright p{
    margin-left: 0%;
    margin-top: 0;
    
}
.footer-social-icons{
    margin-left: 9%;
    margin-top: -65px;
    width: 90%;
    
    justify-content: center;
}
.footer-social-icon{
    width: 40px;
    height: 40px;
    margin-left: 3%;
}
.grid5{
    display: none;
}

}