@media screen and (min-width:600px) and (max-width:768px){
body{
    
    height: 6115px;
    width: 100%;
    overflow-x: hidden;
}
    nav{
        width: 100%;
        margin-left: 0;
        height: auto;
        
        position: relative;
    }
    .logo{
        width: 100%;
        height: 80px;
        margin-top: 50px;
        margin-bottom: 70px;
        margin-left: 0%;
    }
    .logo img{
        margin-top: 0px;
        width: 99%;
    }
    .nav-icons{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin-left: 40%;
        margin-right: 10%;
        margin-top: -30px;
    }
    .menu-icon{
        display: block;
    }
    .search-icon{
        display: block;
        margin-left: 0px;
    }
    .nav-list {
        background: #d6d6d6;
        margin-top: 91.59px;
        margin-bottom: 0;
        height: auto;
        padding: 10px 0%;
        width: 100.6%;
        margin-left: -2.7%;
        margin-right: 0.6%;
        position: absolute;
    }

.nav-list li{
    border: 2px solid #dc4b25;
    padding: 5px 0%;
    border-top: none;
    border-bottom: none;
    border-left: none;
    margin-left: 0%;
    margin-right: 0%;
    width: 12%;
    list-style: none;
}
.nav-list .s{
    border-left: none;
}
.nav-list .a2{
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: none;
}
.nav-list .a2 a{
    margin-left: 0%;
}
.nav-list li a{
    color: #000;
    width: 100%;
    margin-left: 0%;
    text-decoration: none;
    font-size: 80%;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-list .vec{
    display: block;
    height: 12px;
    margin-top: 3px;
    margin-right: 16%;
}
.remove2{
    display: none;
}
.active{
    display: none;
}
.nav-list li a::after{
    content: '';
    width: 0;
    height: 2px;
    background-color: #24cfdd;
    position: absolute;
    left: 0;
    top: 100%;
}
.nav-list li a:hover::after{
    width: 100%;
}

    .home{
    width:10%;
}
.politics{
    border: 1px solid #d0a6a6;
    width: 17%;
    border-top: none;
    border-right: none;
    border-bottom: none;
}

.social-icons{
    display: none;
}
.header{
    margin-top: 0px;
}
.header-news{
    grid-template-columns: 1fr;
    padding: 0px;
    width: 100%;
    margin-top: 0px;
}

.left-header-news{
    width: 100%;
}
.left-header-news-text{
    margin-top: 0px;
}
.image-cont{
    width: 95%;
    height: auto;
    top: 298px;
}
.image-cont img{
    width: 100%;
    margin: 50px 0%;
}

.left-header-news p{
    font-size: 150%;
}
.left-header-news span{
    width: 100%;
    margin-top: -50px;
    margin-left: 30%;
}
.left-header-news span p{
    margin-left: -15%;
    font-size: 75%;
}
.left-header-news span .p2{
margin-left: 15%;
}
.left-news-article{
    width: 95%;
    height: auto;
    margin-left: 2.5%;
    margin-top: 40px;
}
.left-news-article-contents{
    width: 100%;
}
.left-news-article-content{
    width: 100%;
    height: 70px;
    margin-top: 20px;
}
.left-news-article p{
    font-style: regular;
    font-size: 100%;
    line-height: 100%;
    letter-spacing: 4%;
    font-weight: 400;
    margin-bottom: 0px;
    width: 100%;
    margin-top: 0px;
}
.reply-container{
    margin-top: 0;
    height: auto;  
}
.reply-container p{
    margin-top: 0px;
}
.reply-container span{
    margin-top: 0;
    width: 60%;
    margin-left: 2%;
}
.reply-container span p{
    margin-left: 0%;
}
.reply-container .labelcont p{
    width: 290px;
    height: 10px;
    font-size: 7px;
    color: #5f5f5f;
    line-height: 8.8px;
    margin-left: 0%;
    margin-top: 50px;
}
.reply-container .labelcont .checkmark::after{
    left: 2%;
    top: -13px;
    width: 1.5%;
    height: 10.5px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    color: red;
}
.submit{
    width: 25%;
}

.environment-observationcartoon{
    grid-template-columns: 1fr;
    margin-top: 100px;
    padding: 0 15px;
}
.environment-title{
    width: 70%;
}
.observercartoon-title{
    width: 70%;
    height: 50.11px;
    top: 30px;
    margin-left: -38%;
}
.environment-img p{
    font-size: 170%;
}
.observercartoon-title h1{
    font-size: 130%;
    }
    
.observercartoon-img{
    margin-top: 50px;
    margin-left: 10%;
  width: 85%;
}
.observercartoon-img p{
    margin-left: 0;
    font-size: 170%;
    width: 100%;
}
.right-header-news{
    display: none;
}
.footer{
    background: #000;
    height: 1300px;
    width: 100%;
    margin-top: 50px;
}
.footer img{
    display: none;
}
.footer-img2{
    display: none;
}
.footer-nav{
    grid-template-columns: 1fr;
    margin-top: -1350px;
    width: 100%;
    margin-left: 0%;
    padding: 0;
}
.grid1{
    margin-left: 0%;
    width: 100%;
    margin-top: 10%;
}
.grid1 img{
    margin-left: 0%;
    width: 50%;
}
.grid1 p{
    width: 95.5%;
    font-size: 100%;
    text-align: center;
    padding: 0%;
    margin-left: 0.5%;
}
.icons img{
    margin-top: -5%;
    width: 5%;
}
.icons p{
    font-size: 90%;
    width: 70%;
    margin-top: 0%;
    height: 30px;
    width: 100%;
    margin-left: 0%;
}

.grid2{
    margin-top: 5%;
    width: 50%;
    height: auto;
    padding: 0;
}
.grid2 .grid-title{
    margin-top: 10%;
    margin-left: 10%;
}
.grid2 .grid-title p{
    margin-top: 0%;
    font-size: 100%;
}
.grid2 li{
    padding: 5% 0%;
    width: 100%;
    margin-left: 5%;
}
.grid2 li a{
    text-transform: uppercase;
    text-align: center;
    margin-left: 3%;
    width: 100%;
    font-size: 13px;
    font-weight: bold;
}

.grid2 a:hover{
    color: #dd4b24;
}

.grid-title{
    margin-left:100px;
    font-size: 150%;
    text-decoration: underline;
}
.grid3{
    margin-left: 53%;
    margin-top: -400px;
    padding: 0;
    width: 46%;
    height: auto;
}
.grid3 .grid-title{
    margin-left: 10%;
    margin-top: 15%;
}
.grid3 .grid-title p{
    font-size: 90%;
}
.grid3 li{
    padding:0%;
    margin-left: -7%;  
    margin-top: 30px;  
}
.grid3 ul{
    margin-top: 10px;
}
.grid3 a{
    margin-left: 15%;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
}
.grid3 a:hover{
    color: #dd4b24;
}
.grid4{
    margin-left: 0%;
    width: 100%;
    margin-top: 30px;
    height: auto;
}
.grid4 .grid-title p{
    margin-left: 0%;
    text-align: center;
    width: 70%;
    font-size: 100%;
    word-spacing: 10px;
}
.grid4 .text{
    font-size: 100%;
    width: 98.8%;
    padding: 0;
    font-weight: bold;
    height: 20px;
    margin-left: 0%;
    margin-top: 10px;
    text-align: center;
}

input{
    width: 95%;
    padding: 2%;
    margin-top:20px;
    color: #fff;
    background: transparent;
    outline: none;
    margin-left: 0%;
}
.submit-btn{
    width: 95%;
    margin-bottom: 5%;
}
.copyright{
    margin-left: 7%;
    width: 85%;
    margin-top: 60px;
    text-align: center;
    height: auto;
    text-align: center;
}
.copyright p{
    margin-left: 0%;
    margin-top: 0;
}
.footer-social-icons{
    margin-left: 15%;
    margin-top: -65px;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-social-icon{
    width: 40px;
    height: 40px;
    margin-left: 3%;
}
.grid5{
    display: none;
}

} 