*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #d6d6d6;
}
nav{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 127px;
    left: 0%;
    top: 0;
    background-color: #fff;
    box-shadow: 0px 0px 65px rgba(0, 0, 0, 0.07);
    padding-left: 20px;
}
.logo img{
    width: 100%;
    height: 79.01px;
    top: 33.99px;
    left: 17%;
    padding: 2%;
}
nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    width: 80%;
    height: 15px;
    margin-left: 3%;
    top: 63px;
    font-style: normal;
    font-weight: 700;
}
nav li{
    margin-right: 2%;
    padding: 0; 
    height: 100%; 
    width: 100%;
}
nav li a{
    width: 100%;
    height: 15px;
    font-size: 90%;
    text-decoration: none;
    color: #000;
    margin-left: 10%;
    position: relative;
}
 a:is(:link, :active, :visited).active{
    color:#ecff03;
}
a::after{
    content: '';
    width: 0;
    height: 2px;
    background-color: #24cfdd;
    position: absolute;
    left: 0%;
    top: 100%;
}
nav li a:hover::after{
    width: 100%;
}
.vector{
    margin-left: 0%;
}
.search-icon{
    display: none;
}
.menu-icon{
    display: none;
}
.a2 img{
    display: none;
}
.header{
    margin-top: 130px;
    width: 100%;
}
.header-title{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -80px;
}
.home{
    width:5%;
    margin-top: 208px;
    margin-right: 0%;
    color: #343434;
    z-index: 1;
    font-family: 'lato';
    font-size: 13px;
    font-weight: 300;
    line-height: 15.6px;
    border: 1px solid #d0a6a6;
    border-top: none;
    border-left: none;
    border-bottom: none;
}
.politics{
    border: 1px solid #d0a6a6;
    width: 8%;
    border-top: none;
    border-right: none;
    border-bottom: none;
    margin-top: 208px;
    margin-left: 0%;
    font-family: 'lato';
    font-weight: 300;
    font-size: 100%;
    line-height: 100%;
    color: #343434;
    z-index: 1;
    padding-left: 4%;
}

.header-news{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 55px 2.4%;
    width: 100%;
}
.left-header-news{
    align-items: center;
    justify-content: center;
    width: 135%;
    height: auto;
}
.image-cont{
    width: 95%;
    top: 298px;
    margin-left: 2.5%;
}
.image-cont img{
    width: 100%;
}
.left-header-news-text{
width: 95%;
margin-left: 2.5%;
height: 100px;
}
.left-header-news-text p{
    font-family: 'Merriweather';
    width: 100%;
    height: 96px;
    top: 874px;
    font-size: 180%;
    font-weight: 900;
    line-height: 100%;
    margin-top: 0px;
}
.left-header-news span{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    margin-left: 15%;
    margin-top: -20px;
}
.left-header-news span p{
    color: #343434;
    font: lato;
    font-weight: 400;
    font-size: 80%;
    line-height: 100%;
    margin-left:  0%;
    font-family: 'Lato';
    padding: 0%;
    margin-top: 0px;
}
.left-header-news span .p2{
    margin-left: 0%;
}
.social-icons{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -50px;
   margin-left: 40%;
}
.social-icon{
    width: 8%;
    height: 33.81px;
    left: 420px;
    border-radius: 4px;
    background-color: #24c7dd;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 15px;
}
.social-icon img{
    width: 60%;
    height: 19.88px;
}
.left-news-article{
    width: 100%;
    height: 1000px;
    margin-top: 50px;
    margin-left: 0%;
}
.left-news-article-contents{
    width: 100%;
    margin-left: 0%;
}
.left-news-article-content{
    height: 50px;
    width: 95%;
    margin-left: 0%;
    padding: 0% 2.5%;
    margin-top: 30px;
}
.left-news-article-content p{
    font-family: 'lato';
    font-style: regular;
    font-size: 100%;
    line-height: 100%;
    letter-spacing: 4%;
    font-weight: 400;
    margin-bottom: -65px;
    margin-top: 50px;
    margin-left: 0%;
}
.reply-container{
    width: 100%;
    background: #d6d6d6;
    border: 1px solid #acacac;
    margin-top: 900px;
}
.reply-container p{
    color: #ffe500;
    width: 100%;
    height: 23px;
    font-family: 'merriweather';
    font-weight: 900;
    font-size: 100%;
    line-height: 100%;
    margin: 15px 1.5%;
    text-transform: uppercase;
}
.input-container{
    padding: 20px 1.5%;
}
.reply-container span{
    color: #5f5f5f;
    width: 52%;
    height: 25px;
    margin-left: 1.5%;
    font-family: 'merriweather';
    font-weight: 400;
    font-size: 80%;
    line-height: 100%;
}
.reply-container span p{
    margin-top: 20px;
}
form{
    width: 100%;
}

textarea{
    width: 100%;
    height: 222px;
    margin-bottom: 20px;
    outline: none;
}
form input{
    width: 60%;
    height: 73px;
    border: 0.5px solid #acacac;
    outline: none;
    color: #eeeeee;
}
input, label{
    display: block;
    font-family: 'merriweather';
    width: 40%;
    font-size: 100%;
    line-height: 100%;
    margin-bottom: 20px;
    color: #5f5f5f;
    
}
.reply-container .labelcont{
    display: block;
    position: relative;
    padding-left: 3.5%;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
.reply-container .labelcont p{
    width: 180%;
    height: 25px;
    margin-left: 0%;
    margin-top: 50px;
    font-size: 60%;
    color: #5f5f5f;
    line-height: 100%;
    font-weight: 400;
}
 .reply-container .labelcont input{
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0px;
    width: 0%;
}
.reply-container .checkmark{
    margin-top: -40px;
    margin-left: -10.5%;
    height: 20px;
    width: 20px;
    background: #fff;
    border: 1px solid #000;
}
 .reply-container .labelcont input:checked ~ .checkmark {
    background: blue;
}
.reply-container .checkmark::after{
    content: '';
    position: absolute;
    display: none;
}
.reply-container .labelcont input:checked ~ .checkmark::after {
    display: block;  
}
 .reply-container .labelcont .checkmark::after{
    left: 2.5%;
    top: 2.7px;
    width: 1%;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    
}

.submit{
    width: 20%;
    height: 34.62px;
    border-radius: 7px;
    background: #ecff03;
    margin-top: 40px;
    color: #000;
    padding: 0 1.8%;
    font-family: 'merriweather';
    font-weight: 900;
    font-size: 100%;
    line-height: 100%;
    cursor: pointer;
}
.right-header-news{
    margin-left: 40%;
    height: auto;
    margin-top: 0px;
    width: 60%;
    padding: 0 1%;
}
.title{
    position: absolute;
        width: 20%;
        height: 50.21px;
        left: 70%;
        top: 340px;
        background: #fff;
        box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.07);
}
.title::after{
    content: '';
    width: 100%;
    height: 50.21px;
    background-color: #ecff03;
    z-index: -1;
    position: absolute;
    left: 2%;
    top: 20%;
}
.title h1{
    color: #dc4b25;
    font-size: 150%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}
.topstories-contents{
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 100px;
width: 100%;
height: auto;
}
.topstories-content{
    position: relative;
    width: 100%;
    margin-left: 0%;
    top: 0px;
    margin-top: 0px;
    margin-bottom: 60px;
    height: 400px;
}
.topstories-content img{
    width: 100%;
}
.topstories-content-text{
    position:  relative;
    width: 100%;
    height: 95px;
    top: 0px;
    font-weight: 700;
    font-size: 100%;
    line-height: 100%;
    color: #000;
    margin-left: 0%;    
}
.topstories-content-text span{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #343434;
    font: lato;
    font-weight: 300;
    font-size: 80%;
    line-height: 100%;
    margin: 10px 0%;
    font-family: 'Lato', sans-serif;
    width: 100%;
}
.latest-news{
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    height: 890px;
    margin-top: 0px;
    margin-left: 0%;
    background: rgb(231, 228, 228);
}
.latest-news p{
    color: #d924dd;
    font-size: 180%;
    font-weight: 700;
    line-height: 100%;
    padding: 0 2%;
}
.latest-news-content{
    width: 100%;
    height: 58px;
    top: 1264px;
    padding: 0%;
    margin-left: 0%;
}
.latest-news-content p{
    font-weight: 400;
    font-size: 100%;
    line-height: 100%;
    color: #d60c0c;
}
.options-container{
    width: 100%;
    height: 950px;
    display: grid;
    grid-template-columns: 1fr;
    margin-left: 0%;
    margin-top: 50px;
    background: #e3e3e3;
    margin-right: 1%;
}
.options-container p{
    color: #d924dd;
    font-size: 180%;
    font-weight: 700;
    line-height: 100%;
    padding: 0 2%;
}
.options-contents{
    margin-top: -80px;
    height: 300px;
    width: 100%;
}
.options-content{
    width: 90%;
    height: 58px;
    top: 1264px;
    margin: 10px 1%;
    padding:0%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.options-content p{
    font-weight: 400;
    font-size: 100%;
    line-height: 100%;
    color: #d60c0c;
    width: 100%;
}
.options-content img{
    width: 30%;
}
/*Editor's pick container*/
.editorpick-container{
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 100px;
    background: #e3e3e3;
    margin-right: 1%; 
    height: 300px;
    padding: 0%;
    width: 100%;
}
.editorpick-container p{
    width: 100%;
    height: 23px;
    color: #d924dd;
    font-size: 180%;
    font-weight: 700;
    line-height: 100%;
    margin-bottom: 0px;
    margin-top: 0px;
}
.editorpick-content{
    width: 100%;
    height: 49px;
   padding: 0%;
}
.editorpick-content p{
    font-weight: 400;
    font-size: 100%;
    line-height: 100%;
    color: #000;
    width: 100%;
    margin: 10px 0%;
    height: 40px;
}
.environment-observationcartoon{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 200px;
    width: 100%;
    margin-left: 0%;
}
.environment-title{
        position: relative;
        width: 30%;
        height: 50.21px;
        left: 0%;
        top: 0px;
        background: #fff;
        box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.07);
        bottom: -100px;
}
.environment-title::after{
    content: '';
    width: 100%;
    height: 50.21px;
    background-color: #ecff0d;;
    z-index: -1;
    position: absolute;
    left: 10px;
    top: 20%;
}
.environment-title h1{
    color: #dc4b25;
    font-size: 150%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}
.environment-container{
    width: 100%;
    height: auto;
}
.environment-img {
    margin-top: 50px;
    margin-left: 10%;
  width: 85.5%;
}
.environment-img img{
    width: 100%;
}
.environment-img p{
    color: #fff;
    margin-top: -200px;
    width: 100%;
    height: 57px;
    margin-left: 3%;
    font-size: 180%;
    line-height: 100%;
    font-weight: 700;
}
.environment-img span{
    display: flex;
    margin-top: 250px;
    margin-left: 0%;
}
.environment-img span p{
    width: 30%;
    height: 100%;
    font-family: 'Lato';
    font-weight: 400;
    font-size: 80%;
    line-height: 100%;
}
/*Observercartoon*/
.observercartoon-container{
    width: 100%;
    margin-left: 0%;
}
.observercartoon-title{
    position: relative;
    width: 30%;
    height: 50.21px;
    left: 68.5%;
    top: 0px;
    background: #fff;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.07);
}
.observercartoon-title::after{
content: '';
width: 100%;
height: 50.21px;
background-color: #d924dd;
z-index: -1;
position: absolute;
left: 10px;
top: 20%;
}
.observercartoon-title h1{
color: #dc4b25;
font-size: 150%;
display: flex;
align-items: center;
justify-content: center;
margin-top: 10px;
}
.observercartoon-img{
    margin-top: 50px;
    margin-left: 2%;
    width: 85.5%;
}
.observercartoon-img img{
    width: 100%;
}
.observercartoon-img p{
    color: #fff;
    margin-top: -200px;
    width: 100%;
    height: 57px;
    margin-left: 3%;
    font-size: 180%;
    line-height: 100%;
    font-weight: 700;  
}
.observercartoon-img span{
    display: flex;
    margin-top: 250px;
    width: 100%;
}
.observercartoon-img span p{
    width: 100%;
    height: 14px;
    font-family: 'Lato';
    font-weight: 400;
    font-size: 80%;
    line-height: 100%;
}

/*footer navigation*/
.footer{
    margin-left: 0%;
    right: 0;
    margin-top: 130px;
    width: 100%;
    height: 670px;
    margin-right: 0px;
}
.footer-img1{
    width: 100%;
    height: 570px;
}
.footer-img2{
    width: 100%;
    margin-top: -3.8px;
}
.footer-nav{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-top: -570px;
    color: #fff;
    margin-left: 4%;
}
.grid1{
    z-index: 1;
    width: 110%;
    margin-left: -10%;
}
.grid1 img{
    width: 50%;
    height: 71px;
}
.grid1 p{
    width: 100%;
    height: 102px;
    font-weight: 400;
    font-size: 100%;
    line-height: 100%;
    margin-top: 20px;
}
.icons{
    margin-top: 50px;
    margin-left: 0%;
}
.icon{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10%;
}
.icon p{
    width: 100%;
    height: 21px;
    font-weight: 400;
    font-size: 80%;
    margin-left: 1%;
    margin-top: -3px;
}
.icon img{
    padding: 15px 0;
    width: 5%;
    height: 20px;
   margin-left: 0%;
}
.phone{
    margin-left: -29%;
}
.grid2{
    z-index: 1;
    margin-left: 0%;
    width: 100%;
}
.grid-title{
    width: 100%;
    height: 21px;
}
.grid-title p{
    font-weight: 400;
    font-style: regular;
    font-size: 150%;
    line-height: 100%;
    font-family: 'Righteous', cursive;
}
ul{
    list-style: none;
}
li{
    padding: 21px 0%;
}
a{
    color: #fff;
    font-size: 100%;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}
.grid3{
    z-index: 1;
    margin-left: 0%;
}
.grid4{
    z-index: 1;
    padding: 0 20px;
    margin-left: 0%;
    width: 100%;
}
.grid4 .text{
    width: 100%;
    color: #fff;
    padding-top: 15px;
    line-height: 100%;
    margin-bottom: 20px;
    font-size: 100%;
}
input{
    width: 100%;
    padding: 8%;
    margin-top:20px;
    color: #fff;
    background: transparent;
    outline: none
}
.submit-btn{
    width: 100%;
    background: #dd4b24;
    border: none;
    font-family: 'Righteous';
    color: #fff;
    font-size: 100%;
    line-height: 100%;
    font-weight: 400;
    text-transform: uppercase;
    cursor: pointer;
}
.grid5{
    z-index: 1;
    padding: 0 2%;
    font-weight: 600;
    font-size: 100%;
    line-height: 100%;
    width: 100%;
}
.copyright p{
    width: 120%;
    height: 17px;
    margin-left: 0%;
    font-size: 100%;
    margin-top: 80px;
    font-family: 'lato';
}
.footer-social-icons{
    margin-left: 65%;
    width: 100%;
    display: flex;
    margin-top: -30px;
}
.footer-social-icon{
   width: 3%;
   height: 33.81px;
   border-radius: 4px;
   background: #212121;
   display: flex;
   align-items: center;
   justify-content: center;
   margin-left: 2%;
}






























