@media screen and (max-width:600px){
    .body{
        padding: 0;
        margin: 0;
    }
    nav{
        background: #fff;
        width: 100%;
    }
    .remove{
        display: none;
    }
    .logo{
        width: 50%;
        height: 37px;
        margin-top: -80px;
        margin-bottom: 70px;
        margin-left: -100px;
        padding-left: 40px;
    }
    .search-icon{
        display: block;
        margin-top: -50px;
        margin-left: -100px;
    }
    .menu-icon{
        display: block;
        margin-top: -55px;
        margin-left: 40px;
    }
    .vec{
        display: block;
        margin-left: 0px;
    }
    
nav ul{
    margin-top: 190px;
    margin-bottom: 50px;
    margin-left: -46%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #d6d6d6;
    padding: 0;
    height: 100px;
    margin-right: -10px;
    width: 100%;
}
nav li{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 0px;
    border: 1px solid #d924dd;
    border-top: none;
    border-bottom: none;
    border-left: none;
    height: 0px;
    width: 20%;
    margin-right: -20px;
    
}
.a2{
    border-right: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.a2 img{
    display: block;
}
nav li a{
    font-size: 12px;
    margin-left: 30px;
    font-weight: 600;
    
}
.active{
    display: none;
}
main{
    grid-template-columns: 1fr;
}
.main-left{
    padding: 0;
    height: 2900px;
    width: 435px;

    margin: 0px;
}
.politics-title{
    position: absolute;
    width: 111.89px;
    height: 24.68px;
    margin-left: 150px; 
}
.politics-title::after{
    content: '';
    width: 100%;
    height: 24.68px;
}
.politics-title h1{
    color: #dc4b25;
    font-size: 14px;
    margin-top: -5px;
}
.cat-img-cont{
    width: 391px;
    height: 181px;
    left: 5155px;
    margin-top: 150px;
}
.cat-img-cont img{
    width: 100%;
    object-fit: cover;
    margin-left: 30px;
}
.cat-img-text{
    width: 389px;
    height: 96px;
    margin-top: 50px;
    margin-left: 30px;
}
.cat-img-text h1{
    font-size: 17px;
    line-height: 17.6px;
    width: 370px;
}
.cat-img-text p{
    width: 381px;
    height: 88px;
    font-size: 11px;
    line-height: 13.83px
}
.social-icons{
    display: none;
}
.main-right{
    display: none;
}
.separator{
    display: none;
}
.line-between::after{
    display: none;
}
.line-between2::after{
    display: none;
}

.main-left-contents{
    margin-top: 70px;
    border: none;
}

.main-left-content{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 40px;
    margin-left: 0px;
}
.main-left-content-text{
    width: 224px;
    height: 44px;
    
}
.main-left-content-text p{
    font-size: 10px;
    line-height: 12.57px;
    
}
.main-left-content-text span{
    width: 225px;
    height: 16px;
    margin-left: -20px;
    margin-top: 20px;   
}
.main-left-content-text span p{
    width: 241.8px;
    height: 16px;
    font-size: 10px;
    font-family: 'Lato';
    font-weight: 400;
    line-height: 12px;
    margin-left: -45px;
    color: #5d5d5d;
}
.main-left-content-text .p2{
    font-size: 10px;
    line-height: 12px;
    font-weight: 300;
    display: block;
    margin-left: 300px;
    margin-top: -15px;
    color: #5d5d5d;
}
.main-left-content-img{
    width: 84px;
    height: 46px;
    margin-left: 70px;
}
.main-left-contents2{
    grid-template-columns: 1fr;
    margin-top: 50px;
}
.main-left-content2-right{
    margin-left: 0px;
    height: 880px;
    width: 500px;
    margin-top: 0px;
}
.main-left-content2-text{
    width: 321px;
    height: 46px;
    margin-top: 10px;
}
.main-left-content2-text p{
    font-size: 12px;
    line-height: 15.08px;
    margin-top: 0px;
}
.nextpage{
    border: 2px solid #be4a38;
    width: 380px;
    margin-left: 20px;
    border-left: none;
    border-right: none;
    border-bottom: none;
    margin-top: 50px;
}

.next{
    width: 20.12px;
    height: 20.12px;
    margin-top: 20px;
    margin-left: 5px;
}

#environment-observationcartoon{
    display: none;
}
.footer{
    display: none;
}
.footer-nav{
    display: none;
}
}