@media screen and (min-width:768.5px) and (max-width:1024px){
    nav{
        
        width: 100%;
    }
    .logo{
        width: 30%;
        margin-top: 50px;
        margin-bottom: 70px;
        margin-left: 0%;
    }
    .logo img{
        margin-top: 0px;
        width: 200px;
    }
    .nav-icons{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin-left: -200px;
        margin-right: 50px;
        margin-top: -30px;
    }
    .menu-icon{
        display: block;
    }
    .menulogo{
        font-size: 500px;
    }
    .search-icon{
        display: block;
    }
    nav ul{
        margin-top: 190px;
        margin-bottom: 50px;
        margin-left: -26.5%;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #d6d6d6;
        padding: 0 20%;
        height: 60px;
        margin-right: 0px;
        width: 66.6%;
    }
    nav li{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 2.3%;
        border: 2px solid #dc4b25;
        border-top: none;
        border-bottom: none;
        border-left: none;
        height: 30px;
        width: 120px;
        margin-right: 0px;
        margin-left: 0;
    }
    nav li a{
        font-size: 14px;
    }
    .a2{
        border-right: none;
    }
    .active{
        display: none;
    }
    .remove2{
        display: none;
    }
    .vec{
        display: block;
        margin-left: -20%;
    }
    .title{
        display: none;
}
.topstories-contents{
    grid-template-columns: 1fr;
}

.left-content{
    width: 95%;
    padding: 0;
}
.left-img{
    width: 50%;
    height: 78px;
    top: 359px;
    left: 54px;
    margin-top: 10px;
}

.left-content-text{
    width: 100%;
    margin-top: 30px;
}

.center{
    display: none;
}
.right{
    margin-top: 50px;
}
.right-content{
    width: 100%;
    margin-left: 0px;
}
.right-content-text{
    width: 100%;
}
#politics{
    margin-top: 50px;
    width: 100%;
    height: 500px;
}
.politics-title{
    width: 188.42px;
    height: 41.55px;
    margin-left: 10px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -50px;
    }
.politics-title::after{
    content: '';
    width: 188.42px;
    height: 41.55px;
    top: 1320px;
    left: 40px;
    background: #ecff0d;
    position: absolute;
    z-index: -1;
    }

.politics-contents{
    grid-template-columns: 1fr;
    margin-top: 100px;
    }
    .politics-content{
        margin-top: 15px;
        margin-left: 0;
        width: 66%;
     }
     .politics-content img{
        width: 100%;
        height: 106px;
     }
     .politics-content-text{
        width: 100%
    }
    #sports{
        width: 100%;
        height: 700px; 
        margin-top: -300px; 
    }
    .sports-title{
        position: absolute;
        width: 188.42px;
        height: 41.55px;
        margin-left: 0;
         
    }
    .sports-title::after{
        content: '';
        width: 188.42px;
        height: 41.55px;
        background-color: #24cfdd;
        z-index: -1;
        position: absolute;
        left: 10px;
        top: 20%;
    }
    .sports-contents{
        grid-template-columns: 1fr;

    width: 100%;
    margin-top: 0px;
    margin-left: 0;
    height: 600px;
    }
    .sports-content{
        top: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        margin-left: 0px;
       margin-top: 20px;
        margin-right: -30px;
        width: 100%;  
        padding: 0;

    }
    .sports-content img{
        width: 60%;
        height: 106px;
    }
    .sports-content-text{
        font-weight: 400;
        font-size: 15px;
        line-height: 16.34px;
        margin-left: 20px;
        height: 58px;
        width: 100%;
        font-weight: 500;
        font-family: 'lato', serif;
    }

    .sc{
        margin-top: 20px;
    }
    .breaking-news-bar{
        width: 95%;
        height: 88px;
        margin-top: -600px;
        margin-left: 70px;
    }
    .breaking-news-bar-title{
        width: 300px;
        height: 88px;
        margin-left: -90px;
        padding: 0 5px;
    }
    .breaking-news-bar-title h1{
        width: 100%;
        height: 48px;
        font-size: 18px;
        font-weight: 900;
        line-height: 12.75px;
        margin-top: 30px;
        margin-left: 20px;
    }
    .breaking-news-bar p{
        height: 25px;
        top: 2203px;
        font-size: 12px;
        line-height: 7.54px;
        word-spacing: 8%;
        padding: 0 20px;
    }
    #health{
        position: relative;
        margin-top: 0px;
        width: 125%;
        margin-left: -224px;
        height: 1050px;
        
    }
    .health-title{
    position: absolute;
        width: 160px;
        height: 40px;
        left: 220px;
        top: -60px;
        
}
.health-title::after{
    content: '';
    width: 100%;
    height: 40px;
    background-color: #dc4b25;
    z-index: -1;
    position: absolute;
    left: 10px;
    top: 20%;
}
.health-title h1{
    font-size: 20px;
}

    .health-contents{
        grid-template-columns: 1fr;
        height: 800px;
        width: 100%;
        margin-top: 50px;
    }
    .health-content{  
        width: 95%;
        height: 130px;
    }
    .health-content img{
        width: 65%;
        height: 100px;
        margin-left: 200px; 
        margin-top: 0px;  
    }
    
    .health-content-text{
        font-size: 17px;
        font-weight: 400;
        line-height: 21.37px;
        margin-left: 30px;
        height: 58px;
        width: 100%;
        margin-top: 50px;

    }
    .health-btn{
        display: block;
        margin-left: 900px;
        margin-top: -30px;
        width: 100px;
        padding: 10px;
        font-size: 10px;
        color: #dc4b25;
        line-height: 12.57px;
        font-weight: 400;
        background: #d9d9d9;
        cursor: pointer
    }
    
    #business{
        position: relative;
        top: 1100px;
        width: 100%;
        height: 720px;
        margin-left: -10px;
    }
    .business-title{
        width: 160px;
        height: 40px;
        left: 0px;
        top: 0px;
}
.business-title::after{
    height: 40px;
}

    .business-contents{
        grid-template-columns: 1fr;
        margin-left: 0px;
        margin-top: 50px;
        height: 650px;
        width: 95%;
        padding: 0;
    }
    .business-content{
        width: 90%;
        margin-left: -20px;
        height: 105px;
        margin-top: 30px;
    }
    .business-content img{
        width: 80%;
        height: 105px;
    }
    #editorials{
        margin-top: 1200px;
        margin-left: -10px;
        width: 100%;
        height: 750px;
    }
    .editorials-title{
        position: absolute;
        width: 160px;
        height: 40px;
        left: 10px;
        top: 10px;
    }
    .editorials-title::after{
        height: 40px;
    }
    .editorials-title h1{
        font-size: 20px;
    }
    .editorials-contents{
        grid-template-columns:1fr; 
        margin-top: 20px; 
        width: 95%;
        margin-left: 0px;
        height: 820px;
    }
    .editorials-content{
        top: 60px;
        width:95%;
        margin-top: 0px;
        height: 110px;
        margin-left: 0px;
    }
    .editorials-content img{
        width: 65%;
        height: 105px;
    }
    .editorials-content-text{
        margin-left: 15px;
        margin-top: 0px;
        font-weight: normal;
        padding: 0;
        width: 100%;
    }
    .editorial-btn{
        display: block;
        margin-left: 778px;
        margin-top:50px;
        width: 81px;
        height: 21px;
        font-size: 10px;
        color: #000;
        line-height: 12.57px;
        font-weight: 400;
        background: #ffe500;
        padding: 5px;
        border-radius: 7px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #aviation{
        margin-top: 100px;
        height: 850px;
    }
    .aviation-title{
        position: absolute;
        width: 188.42px;
        height: 41.55px;
        left: 0px;
        top: 0px;
        background: #fff;
        box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.07);
        bottom: -100px;
    }
    .aviation-title::after{
        content: '';
        width: 100%;
        height: 41.55px;
        background-color: #d924dd;
        z-index: -1;
        position: absolute;
        left: 10px;
        top: 20%;
    }
    .aviation-title h1{
        color: #dc4b25;
        font-size: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
    }
    .aviation-contents{
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
        height: 850px;
    }
    .aviation-content{
        top: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        margin-left: 0px;
        margin-top: 20px;
        margin-right: -30px;
        width: 100%;
    }
    .aviation-content-text{
        font-weight: 400;
        font-size: 15px;
        line-height: 16.34px;
        margin-left: 20px;
        height: 58px;
        width: 100%;
        font-weight: 500;
        font-family: 'lato', serif;
    }
    .aviation-content img{
        width: 50%;
        height: 105px;
    }
    #environment-observationcartoon{
        grid-template-columns: 1fr;
        margin-top: -350px;
        width: 100%;
        margin-left: 0px;
    }
    .environment-container{
        width: 100%;
    
    }
    .environment-title{
        margin-left: 50px;
    }
    .environment-img {
        margin-top:20px;
        margin-left: 20px;
      width: 90%;
      height: 380px;
      padding: 0;
    }
    .environment-img img{
        width: 100%;
        height: 380px;
    }
    .observercartoon-img{
        margin-top: 50px;
        margin-left: 20px;
        width: 90%;
      
    }
    .observercartoon-img img{
        width: 100%;
    }
    .footer{
        width: 108%;
        margin-left: -5%;
        height: 1800px;
        margin-top: -100px;
        background: #000;
        
    }
    .footer-img1{
        display: none;
    }
    .footer-img2{
        display: none;
    }
    .footer-nav{
        grid-template-columns: 1fr;
        margin-top: -1750px;
        width: 100%;
        padding: 0 60px;
    }
    .grid1 img{
        margin-left: 0px;
    }
    .grid1 p{
        width: 100%;
        font-size: 20px;
        margin-left: 0px;
    }
    .icons{
        margin-top: -20px;
        margin-left: 0px;
        width: 160%;
    }
    .phone{
        margin-left: -1350px;
    }
    
    .icons p{
        font-size: 15px;
        margin-left: 50px;
    }
    .grid2{
        margin-top: 20px;
        margin-left: 0px;
    }
    
    .grid2 li{
        padding: 10px 0;
        top: 90px;
    }
    .grid2 li a{
        text-transform: uppercase;
        text-align: center;
        margin-left: 0px;
        width: 100%;
        font-size: 15px;
    }
    
    .grid2 a:hover{
        color: #dd4b24;
    }
    .grid-title{
        width: 20%;
        margin-bottom: 10px;
    }
    .grid3{
        margin-left: 0px;
        margin-top: 40px;
    }
    .grid3 li{
        padding: 10px 0;
        text-transform: uppercase;
    }
    .grid3 a{
        font-size: 15px;
    }
    .grid3 a:hover{
        color: #dd4b24;
    }
    .grid4{
        margin-left: -15px;
        width: 100%;
        margin-top: 30px;
        height: 350px;
        
    }
    input{
        width: 80%;
        padding: 20px;
        margin-top:10px;
        margin-left: 0;
    }
    .grid4 .text{
        font-size: 17px;
        width: 98.8%;
        padding: 0;
        font-weight: bold;
        height: 20px;
        margin-left: -0px;
        margin-top: 10px;
        
    }
    
    .submit-btn{
        width: 85%;
        height: 70px;
    }
    .grid5{
        z-index: 1;
        padding: 0% 4%;
        font-weight: 600;
        font-size: 14px;
        line-height: 19px;
        width: 90%;
        margin-left: -20px;
        margin-top: -20px;
    }
    .grid5 .grid-title{
        margin-left: -15px;
    }
    .grid5 ul li{
        margin: -10px -15px;
    }
    .copyright{
        margin-left: -195px;
        width: 98%;
        margin-top: 30px;
        text-align: center;
        font-size: 65px;
    }
    .footer-social-icons{
        margin-left: 400px;
        margin-top: -30px;
        width: 150%;
    }
    .footer-social-icon{
        width: 30px;
        height: 30px;
        margin-left: 20px;
    }
    
    .opinions-container{
        display: none;
    }
}