
@media all and (max-width:600px){
    *{
        box-sizing: border-box;
    }
    body{
        width: 100%;  
    }
    nav{
        background: #fff;
        width: 100%;
    }
    .remove{
        display: none;
    }
    .logo{
        width: 30%;
        height: 37px;
        margin-top: 0px;
        margin-bottom: 70px;
        margin-left: -30px;
        padding-left: 40px;
    }
    .logo img{
        width: 200px;
    }
    .nav-icons{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin-left: -150px;
        margin-right: 50px;
        margin-top: -30px;
    }
    .menu-icon{
        display: block;
    }
    .menulogo{
        font-size: 500px;
    }
    .search-icon{
        display: block;
    }
    
    .vec{
        display: block;
        margin-left: -10px;
    }
    
nav ul{
    margin-top: 190px;
    margin-bottom: 50px;
    margin-left: -26%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #d6d6d6;
    padding: 0;
    height: 100px;
    margin-right: -8.5%;
    width: 400%;
}
nav li{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 2%;
    border: 2px solid #dc4b25;
    border-top: none;
    border-bottom: none;
    border-left: none;
    height: 30px;
    width: 20%;
    margin-right: -20px;
    margin-left: -10px;
}
.a2{
    border-right: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.a2 img{
    display: block;
}
nav li a{
    font-size: 12px;
    margin-left: 45px;
    font-weight: 600;
    
}
.active{
    display: none;
}
.title{
        width: 113.84px;
        height: 25.11px;
        left: 35%;
        top: 200.5px;
}
.title::after{

    height: 25.11px;
}
.title h1{
    font-size: 11px;
    margin-top: 5px;
}
.topstories{
    padding: 0;
    width: 95%;
    margin-top: 250px;
    height: 930px;
}
.topstories-contents{
    grid-template-columns: 1fr;
    margin-top: 60px;
    padding: 0;
    width: 90%;
    margin-left: 0px;
    padding: 0 15px;
    height: 1500px;
}
.left{
    display: none;
}
.center{
    grid-row: 1;
    width: 100%;
    height: 350px;
}
.image-cont{
    width: 100%;
    margin-left: 0%;
    height: 220px;
}
.center-img{
    height: 206px;
}
.img-text{
    margin-left: 0%;
    width: 96%;
    height: 56px;
    margin-top: 5px;
}
.img-text h1{
    font-weight: 900;
    font-size: 16px;
    line-height: 20.11px;
    width: 100%;
    height: 35px;
    margin-top: 5px;
}

.topstories-content{
    width: 100%; 
    margin-left: 0%; 
    top: 350px;
}
.topstories-content img{
    width: 100%;
}
span{
    display: flex;
    margin-top: 10px;
}
.mobile{
    display: block;
}
.right{
    margin-top: -550px;
    margin-left: 0%;
    width: 100%;
    height: 530px;
}

.right-content{
    width: 100%;
    margin-left: 0%;
}
.right-content-text{
    width: 100%;
}
.right-content-text p{
    width: 100%;
}
/*politics container-mobile*/
.politics{
    position: relative;
    margin-top: 20px;
    width: 100%;
    height: 700px;
    margin-left: 0%;
}
.politics-title{
    width: 50%;
    height: 40.11px;
    margin-left: 0%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
    }
.politics-title::after{
    content: '';
    width: 48%;
    height: 40.11px;
    top: -10px;
    left: 10px;
    background: #ecff0d;
    position: absolute;
    z-index: -1;
    }
.politics-title h1{
    width: 100%;
    height: 25px;
    top: 1192px;
    left: 57px;
    color: #dc4b25;
    font-family: 'merriweather';
    width: 900px;
    font-size: 150%;
    line-height: 100%;
    margin-left: 35%
   }

.politics-contents{
    grid-template-columns: 1fr;
    margin-left: 0%;
    width: 100%;
    height: 650px;
    margin-top: 20px;
}
.politics-content{
    margin-top: 0px;
    width: 100%;
    margin-left: 0%;
    height: auto;
}
.politics-content img{
    margin-top: 0px;
    width: 30%;
    margin-left: 0%;
}
.politics-content-text{
    margin-top: 0px;
    width: 70%;
}
.politics-content-text p{
    width: 100%;
}
/*business container-mobile*/
#business{
    position: relative;
    width: 100%;
    margin-left: 0%;
    height: 700px;
    margin-top: 100px;
}
.business-title{
        width: 50%;
        height: 40.11px;
        left: 3%;
        top: 0px;
}
.business-title::after{
    height: 40.11px;
}
.business-title h1{
    font-size: 150;
}
.business-contents{
    grid-template-columns: 1fr;
    margin-left: 0%;
    margin-top: 60px;
    height: 620px;
    width: 100%;
}
.business-content img{
    margin-left: 10%;
    width: 50%;
}
.business-content{
    width: 100%;
    margin-left: -12%;
    margin-top: 40px;
    padding: 0;
}
.sports-content-text{
    width: 100%;
}

/*Health container*/
#health{
    position: relative;
    margin-top: -700px;
    width: 100%;
    margin-left: 0%;
    height: 585px;
}
.health-title{
    position: absolute;
        width: 50%;
        height: 40.11px;
        left: 2%;
        top: 0px;
}
.health-title::after{
    content: '';
    width: 100%;
    height: 40.11px;
    background-color: #dc4b25;
    z-index: -1;
    position: absolute;
    left: 10px;
    top: 20%;
}
.health-title h1{
    font-size: 150%;
}
.health-contents{
    grid-template-columns: 1fr;
    height: 600px;
    width: 100%;
    margin-top: 10px;
    margin-left: 0%;
}
.health-content{ 
    flex-direction: column; 
    margin-left: 0%;
}
.health-content img{
    width: 70%;
    height: 154px;
    margin-left: -20%; 
    margin-top: 50px;  
}
.health-content-text{
    font-size: 100%;
    font-weight: 400;
    line-height: 100%;
    margin-left: 0%;
    height: 58px;
    width: 90%;
    margin-top: 10px;
}
.health-btn{
    display: block;
    margin-left: 80%;
    margin-top: -30px;
    width: 18%;
    height: 14px;
    font-size: 70%;
    color: #dc4b25;
    line-height: 100%;
    font-weight: 400;
    background: #d9d9d9;
    padding: 0.5%;
    text-align: center;
}
.r-2{
    display: none;
}
.hc{
    grid-row: 1;
    width: 100%;
    margin-left: 0%;
    margin-bottom: 20px;
}
.hc1{
    display: none;
}

.hc2-text{
    font-weight: 700;
    margin-left: 0%;
    margin-top: 20px;
    width: 90%;
}

/*Breaking news bar-mobile*/
.breaking-news-bar{
    width: 100%;
    height: 48px;
    margin-top: 850px;
    margin-left: -0.5%;
}
.breaking-news-bar-title{
    height: 48px;
    margin-left: 0px;
    padding: 0;
    width: 100px;
}
.breaking-news-bar-title h1{
    font-size: 12px;
    width: 100px;
    height: 48px;
    font-size: 10px;
    font-weight: 900;
    line-height: 12.75px;
    margin-top: 30px;
    margin-left: 5px;
}
.breaking-news-bar p{
    height: 25px;
    top: 2203px;
    font-size: 12px;
    line-height: 12.54px;
    word-spacing: 8%;
    padding: 0 20px;
    width: 100%;
    margin-top: -10px;
}
/*Editorials container*/
#editorials{
    position: relative;
    top: 150px;
    width: 100%;
    height: 500px;
    margin-left: 0%;
}
.editorials-title{
    position: absolute;
    width: 50%;
    height: 40.11px;
    left: 0%;
    top: 10px;
    
}
.editorials-title::after{
    height: 40.21px;
}
.editorials-title h1{
    font-size: 150%;
}
.editorials-contents{
    grid-template-columns:1fr; 
    margin-top: 0px; 
    width: 100%;
    margin-left: 0%;
    padding-left: 2%;
}
.editorials-content{
    top: 50px;
    width:100%;
    margin-top: 20px;
    margin-left: 0%;
}
.editorials-content img{
    width: 40%;
    margin-left: 0%;
}
.editorials-content-text{
    margin-left: 2%;
    margin-top: 0px;
    font-weight: normal;
    padding: 0%;
    width: 100%;
}
.editorial-btn{
    display: block;
    margin-left: 65%;
    margin-top:60px;
    width: 30%;
    height: 21px;
    font-size: 80%;
    color: #000;
    line-height: 100%;
    font-weight: 400;
    background: #ffe500;
    padding: 0.5%;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#aviation{
    display: none;
}
/*Environment*/
#environment-observationcartoon{
    grid-template-columns: 1fr;
    margin-left: 0%;
    margin-top: 150px;
    width: 100%;
}
.environment-container{
    width: 100%;
    margin-left: 0%;
    height: 400px;
}
.environment-title{
    width: 50%;
    height: 40.11px;
    margin-left: 4.5%;
}
.environment-title::after{
height: 40.11px;
}
.environment-title h1{
font-size: 150%;
}
.environment-img {
    margin-top: 50px;
    margin-left: -1%;
  width: 100%;
  padding: 0 2%;
}
.environment-img img{
    width: 100%;
}
.environment-img p{
    width: 100%;
    height: 74px;
    margin-left: 1%;
    font-size: 100%;
    line-height: 100%;
    font-weight: 700;
}


/*Latest news mobile*/
.latest-news{
    margin-top: 50px;
    margin-left: 0%;
    background: #fdfcfc;
    padding: 0%;
    width: 98%;
}

.latest-news-title p{
    color: #d924dd;
    font-weight: 700;
    line-height: 100%;
    width: 80%;
    margin-left: -18%;
}
.latest-news-contents{
    margin-top: 0px;
}
.latest-news-content{
    width: 100%;
    height: 48px;
    margin-left: 0%;
    padding: 0%;
    margin-top: 40px;
}
.latest-news-content p{
    width: 100%;
padding: 0;
margin-left: 0%;
}

/*Observercartoon*/
.observercartoon-container{
    margin-top: 0px;
    height: 420px;
    width: 100%;
}
.observercartoon-title{
    width: 50%;
    height: 40.11px;
    left: 0%;
    top: 30px;
}
.observercartoon-title::after{
height: 40.11px;

}
.observercartoon-title h1{
font-size: 120%;
}
.observercartoon-img{
    margin-top: 70px;
    margin-left: -1%;
  width: 100%;
  padding: 0 2%;
}
.observercartoon-img img{
    width: 100%;
}

.observercartoon-img p{
    width: 100%;
    height: 74px;
    margin-left: 1%;
    font-size: 100%;
    line-height: 100%;
    font-weight: 700;
}
.footer{
    width: 104%;
    margin-left: -2%;
    margin-right: 0%;
    height: 1300px;
    margin-top: 100px;
    background: #000;
    border: 1px solid blue;
}
.footer-img1{
    display: none;
}
.footer-img2{
    display: none;
}
.footer-nav{
    grid-template-columns: 1fr;
    margin-top: -1250px;
    width: 100%;
}
.grid1{
    width: 100%;
}
.grid1 img{
    margin-left: 0%;
}
.grid1 p{
    width: 100%;
    font-size: 100%;
    text-align: center;
}
.icons{
    margin-top: 0px;
}
.icons p{
    font-size: 12px;
    width: 70%;
}

.grid2{
    margin-top: 20px;
    margin-left: 0%;
    width: 50%;
}
.grid2 li{
    padding: 10px 0;
}
.grid2 li a{
    text-transform: uppercase;
    text-align: center;
    margin-left: 0%;
    width: 100%;
    font-size: 80%;
}

.grid2 a:hover{
    color: #dd4b24;
}

.grid2 .grid-title{
    margin-left: 0%;
}
.grid3{
    margin-left: 51%;
    margin-top: -302px;
    width: 50%;
    text-transform: uppercase;
}
.grid3 .grid-title{
    margin-left: 30%;
    text-transform: none;
    margin-top: 10px;
}
.grid3 ul{
    margin-left: 30%;
}
.grid3 li{
    padding: 10px 0;
}
.grid3 a{
    margin-left: 0px;
    font-size: 80%;
}
.grid3 a:hover{
    color: #dd4b24;
}
.grid4{
    margin-left: 2.5%;
    width: 100%;
    margin-top: 30px;
}
.grid4 .grid-title p{
    margin-left: 0px;
    width: 100%;
    font-size: 100%;
    word-spacing: 10px;
}
.grid4 .grid-title{
    width: 100%;
    margin-left: 0;
    text-align: center;
}
.grid4 .text{
    font-size: 13px;
    width: 98.8%;
    padding: 0;
    font-weight: bold;
    height: 20px;
    margin-left: 0%;
    margin-top: 10px;
    text-align: center;
}
input{
    width: 100%;
    padding: 20px;
    margin-top:20px;
    color: #fff;
    background: transparent;
    outline: none;
    margin-left: 0.5%;
}
.submit-btn{
    width: 100%;
}
.copyright{
    margin-left: -1%;
    width: 98%;
    margin-top: 20px;
    text-align: center;
}
.footer-social-icons{
    margin-left: 10%;
    margin-top: 20px;
    width: 100%;
}
.footer-social-icon{
    width: 40px;
    height: 40px;
    margin-left: 30px;
}
.grid5{
    display: none;
}
#sports{
    display: none;
}
.opinions-container{
    display: none;
}

}