
@media screen and (max-width:600px){
    body{
        padding: 0 20px;
        
        margin-left: 30px;
        width: 450px;
    }
    nav{
        background: #fff;
        width: 100%;
    }
    .remove{
        display: none;
    }
    .logo{
        width: 107px;
        height: 37px;
        margin-top: -50px;
        margin-bottom: 70px;
        margin-left: -100px ;
        padding-left: 40px;
    }
    .search-icon{
        display: block;
        margin-top: -50px;
        margin-left: -100px;
    }
    .menu-icon{
        display: block;
        margin-top: -55px;
        margin-left: 40px;
    }
    .vec{
        display: block;
    }
    
nav ul{
    margin-top: 190px;
    margin-bottom: 50px;
    margin-left: -130px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #d6d6d6;
    padding: 0 218.5px;
    height: 100px;
    margin-right: -10px;
    width: 10%;
}
nav li{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 8px;
    border: 1px solid #d924dd;
    border-top: none;
    border-bottom: none;
    border-left: none;
    height: 0;
    width: 100px;
    margin-right: -20px;
}
.a2{
    border-right: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav li a{
    font-size: 12px;
    margin-left: 30px;
    font-weight: 600;
    width: 57px;
}
.active{
    display: none;
}

.title{
        width: 113.84px;
        height: 25.11px;
        left: 150.5px;
        top: 200.5px;
}
.title::after{

    height: 25.11px;
}
.title h1{
    font-size: 11px;
    margin-top: 5px;
}
.topstories{
    padding: 0;
    width: 419px;
    margin-left: -42px;
    margin-top: 190px;
}
.topstories-contents{
    grid-template-columns: 1fr;
    margin-top: 60px;
    padding: 0;
    width: 90%;
    margin-left: 0px;
    padding: 0 15px;
    height: 1500px;
}
.topstories-content{
    width: 100%; 
    margin-left: 0px; 
    top: 350px;
}
.topstories-content img{
    width: 100%;
}
.r-1{
    display: none;
}

/*politics container-mobile*/
#politics{
    position: relative;
    top: 450px;
    width: 380px;
    height: 900px;
    margin-left: -30px;
}
.politics-title{
    width: 113.84px;
    height: 25.11px;
    margin-left: 0px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
    }
.politics-title::after{
    content: '';
    width: 113.84px;
    height: 25.11px;
    top: 5px;
    left: 10px;
    background: #ecff0d;
    position: absolute;
    z-index: -1;
    }
.politics-title h1{
    width: 77px;
    height: 25px;
    top: 1192px;
    left: 57px;
    color: #dc4b25;
    font-family: 'merriweather';
    width: 900px;
    font-size: 10px;
    line-height: 25.14px;
    margin-left: 50px
   }

.politics-contents{
    grid-template-columns: 1fr;
    margin-left: 0px;
    width: 350px;
    height: 750px;
    margin-top: 20px;
}
.politics-content{
    margin-top: 0px;
    width: 300px;
}

/*business container-mobile*/
#business{
    position: relative;
    top: 0px;
    width: 407px;
    margin-left: -39.5px;
    height: 600px;
}
.business-title{
        width: 113.84px;
        height: 25.11px;
        left: 20px;
        top: 0px;
}
.business-title::after{
    height: 25.11px;
}
.business-title h1{
    font-size: 10px;
}
.business-contents{
    grid-template-columns: 1fr;
    margin-left: 0px;
    margin-top: 0px;
    height: 590px;
    width: 376px;
    padding-top: 30px;
    padding-left: 30px;
}
.business-content{
    width: 90%;
    margin-left: -40px;
    height: 60px;
    margin-top: -10px;
}
/*Health container*/
#health{
    position: relative;
    margin-top: -700px;
    width: 407px;
    margin-left: -40px;
    height: 585px;
}
.health-title{
    position: absolute;
        width: 113.84px;
        height: 25.11px;
        left: 20px;
        top: 0px;
}
.health-title::after{
    content: '';
    width: 100%;
    height: 25.11px;
    background-color: #dc4b25;
    z-index: -1;
    position: absolute;
    left: 10px;
    top: 20%;
}
.health-title h1{
    font-size: 10px;
}
.health-contents{
    grid-template-columns: 1fr;
    height: 600px;
    width: 370px;
    margin-left: -15px;
    margin-top: 10px;
}
.health-content{ 
    flex-direction: column; 
}
.health-content img{
    width: 314px;
    height: 154px;
    margin-left: -170px; 
    margin-top: 50px;  
}
.health-content-text{
    font-size: 17px;
    font-weight: 400;
    line-height: 21.37px;
    margin-left: -30px;
    height: 58px;
    width: 315px;
    margin-top: 10px;
}
.health-btn{
    display: block;
    margin-left: 278px;
    margin-top: -30px;
    width: 64px;
    height: 14px;
    font-size: 10px;
    color: #dc4b25;
    line-height: 12.57px;
    font-weight: 400;
    background: #d9d9d9;
    padding: 2px;
}
.r-2{
    display: none;
}
.hc{
    grid-row: 1;
    width: 100%;
    margin-left: 70px;
    margin-bottom: 20px;
}
.hc1{
    display: none;
}
.hc2{
    width: 80%;
    margin-left: -150px;
}
.hc2-text{
    font-weight: 700;
    margin-left: -180px;
    margin-top: 20px;
}

/*Breaking news bar-mobile*/
.breaking-news-bar{
    width: 300px;
    height: 48px;
    margin-top: 650px;
    margin-left: 65px;
}
.breaking-news-bar-title{
    width: 300px;
    height: 48px;
    margin-left: -100px;
    padding: 0 5px;
}
.breaking-news-bar-title h1{
    font-size: 12px;
    width: 100px;
    height: 48px;
    font-size: 10px;
    font-weight: 900;
    line-height: 12.75px;
    margin-top: 30px;
}
.breaking-news-bar p{
    height: 25px;
    top: 2203px;
    font-size: 7px;
    line-height: 7.54px;
    word-spacing: 8%;
    padding: 0 20px;
}
/*Editorials container*/
#editorials{
    position: relative;
    top: -850px;
}
.editorials-title{
    position: absolute;
    width: 133.84px;
    height: 25.11px;
    left: -30px;
    top: 10px;
}
.editorials-title::after{
    height: 25.21px;
}
.editorials-title h1{
    font-size: 10px;
}
.editorials-contents{
    grid-template-columns:1fr; 
    margin-top: 980px; 
    width: 407px;
    margin-left: -40px;
}
.editorials-content{
    top: 50px;
    width:400px;
    margin-top: 20px;
    margin-left: 15px;
}
.editorials-content-text{
    margin-left: 0px;
    margin-top: 0px;
    font-weight: normal;
    margin: 0;
    padding: 0;
    width: 100%;
}
.editorial-btn{
    display: block;
    margin-left: 278px;
    margin-top:40px;
    width: 81px;
    height: 21px;
    font-size: 10px;
    color: #000;
    line-height: 12.57px;
    font-weight: 400;
    background: #ffe500;
    padding: 2px;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#aviation{
    display: none;
}
/*Environment*/
#environment-observationcartoon{
    grid-template-columns: 1fr;
    margin-top: -800px;
}
.environment-container{
    width: 100%;
}
.environment-title{
    width: 133.84px;
    height: 25.11px;
    margin-left: 20px;
}
.environment-title::after{
height: 25.11px;
}
.environment-title h1{
font-size: 10px;
}
.environment-img {
    margin-top: 50px;
    margin-left: -50px;
  width: 400px;
  padding: 0 20px;
}
.environment-img img{
    width: 400px;
}
.environment-img p{
    width: 400px;
    height: 74px;
    margin-left: 20px;
    font-size: 14px;
    line-height: 17.6px;
    font-weight: 700;
}


/*Latest news mobile*/
.latest-news{
    margin-top: 320px;
    margin-left: -40px;
    background: #fdfcfc;
    padding: 0;
    width: 407px;
}

.latest-news .title{
    color: #d924dd;
    font-size: 18px;
    font-weight: 700;
    line-height: 22.63px;
}
.latest-news-content{
    width: 350px;
    height: 48px;
    top: 1264px;
    left: 1097px;
    padding: 0px;
}
.latest-news-content p{
    font-weight: 400;
    font-size: 14px;
    line-height: 17.6px;
    color: #d60c0c;
    width: 100%;
}

/*footer navigation mobile*/
.footer{
    display: none;
}
.footer-nav{
    display: none;
}
/*Observercartoon*/
.observercartoon-container{
    margin-top: -100px;
}
.observercartoon-title{
    width: 133.84px;
    height: 25.11px;
    left: 0px;
    top: 30px;
    margin-left: -30px;
}
.observercartoon-title::after{
height: 25.11px;

}
.observercartoon-title h1{
font-size: 10px;
}
.observercartoon-img{
    margin-top: 70px;
    margin-left: -50px;
  width: 400px;
  padding: 0 20px;
}
.observercartoon-img img{
    width: 400px;
}

.observercartoon-img p{
    width: 400px;
    height: 74px;
    margin-left: 20px;
    font-size: 14px;
    line-height: 17.6px;
    font-weight: 700;
}
#sports{
    display: none;
}
.opinions-container{
    display: none;
}
.footer-social-icons{
    display: none;
}
}