@media screen and (min-width:601px) and (max-width:768px){
    body{
        padding: 0% 30%;
        margin-left: 0px;
    }
    nav{
        width: 100%;
    }
    .logo{
        width: 40%;
        margin-top: 30px;
        margin-bottom: 70px;
        margin-left: 0%;
    }
    .logo img{
        margin-top: 0px;
        width: 200px;
        margin-left: 10%;
    }
    .nav-icons{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin-left: -150px;
        margin-right: 10%;
        margin-top: -30px;
    }
    .menu-icon{
        display: block;
    }
    .search-icon{
        display: block;
        margin-left: -150px;
    }
    .remove2{
        display: none;
    }
nav ul{
    margin-top: 190px;
    margin-bottom: 50px;
    margin-left: -32.8%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #d6d6d6;
    padding: 0 35%;
    height: 80px;
    margin-right: -10px;
    width: 30%;
}
nav li{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #dc4b25;
    border-top: none;
    border-bottom: none;
    border-left: none;
    height: 30px;
    width: 100%;
    margin-right: 0px;
    padding: 0 3.5%;
}
.remove3{
    display: none;
}
.a2{

    display: none;
}

nav li a{
    font-size: 80%;
    margin-left: 37%;
    font-weight: 600;
    width: 100%;
    margin-right: 20px;
}
.active{
    display: none;
}

.title{
        width: 200px;
        height: 50px;
        left: 30%;
        top: 200.5px;
}
.title::after{
    height: 50px
}
.title h1{
    font-size: 15px;
    margin-top: 20px;
}
.topstories{
    padding: 0;
    width: 100%;
    margin-top: 200px;
    height: 2560px;
    margin-left: -225px;
}
.left{
    display: none;
}
.center{
    width: 90%;
    grid-row: 1;
    margin-top: 80px;
    margin-left: 10%;
}
.center img{
    width: 90%;
}
.right{
    grid-row: 2;
    margin-top: 30px;
    width: 90%;
margin-left: 50px;
}

.right-content{
    width: 100%;
    margin-left: 0px;
}
.right-content-text{
    width: 100%;
}
.r-1{
    display: none;
}

/*politics container-mobile*/
.politics{
    /*position: relative;*/
    margin-top: -300px;
    width: 200%;
    height: auto;
    margin-left: -67%;
}
.politics-title{
    width: 60%;
    height: 50px;
    margin-left: 0%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
    margin-bottom: 10px;
    }
.politics-title::after{
    content: '';
    width: 45%;
    margin-top: 15px;
    margin-left: 5%;
    height: 50px;
    }
.politics-title h1{
    width: 100%;
    height: 50px;
    top: 1192px;
    left: 57px;
    color: #dc4b25;
    font-family: 'merriweather';
    width: 900px;
    font-size: 200%;
    line-height: 100%;
    margin-left: 90px
   }

.politics-contents{
    grid-template-columns: 1fr;
    margin-left: 0%;
    width: 100%;
    height: auto;
    margin-top: 50px;
}
.politics-content{
    margin-top: 50px;
    width: 98.5%;
    margin-left: 0%;
}
.politics-content img{
    width: 28%;
}
.politics-content-text{
    width: 100%;
    height: 100px;
    margin-left: 1.5%;
    margin-top: 50px;
}
.politics-content-text p{
    width: 100%;
    margin-left: 0%;
    font-size: 100%;
    line-height: 100%;
}
/*business container-mobile*/
#business{
    position: relative;
    top: 1750px;
    width: 200%;
    margin-left: -68%;
    height: 700px;
}
.business-title{
        width: 40%;
        height: 40px;
        left: 30px;
        top: 0px;
}
.business-title::after{
    height: 40px;
}
.business-title h1{
    font-size: 150%;
}
.business-contents{
    grid-template-columns: 1fr;
    margin-left: 0%;
    margin-top: 50px;
    height: 620px;
    width: 95%;
    padding-left: 3%;
}
.business-content{
    width: 100%;
    margin-left: -25px;
    height: 75px;
    margin-top: 20px;
}
.business-content img{
    width: 30%;
}
.sports-content-text{
    width: 100%;
}
/*Health container*/
#health{
    position: relative;
    margin-top: 0px;
    width: 200%;
    margin-left: -68%;
    height: 700px;
}
.health-title{
    position: absolute;
        width: 40%;
        height: 40px;
        left: 2%;
        top: 20px;
        
}
.health-title::after{
    content: '';
    width: 100%;
    height: 40px;
    background-color: #dc4b25;
    z-index: -1;
    position: absolute;
    left: 10px;
    top: 20%;
}
.health-title h1{
    font-size: 150%;
}
.health-contents{
    grid-template-columns: 1fr;
    height: 680px;
    width: 100%;
    margin-left: 0%;
    margin-top: 10px;
}
.health-content{ 
    flex-direction: column; 
    width: 100%;
}
.health-content img{
    width: 100%;
    height: 254px;
    margin-left: -12%; 
    margin-top: 20px;  
}
.health-content-text{
    font-size: 100%;
    font-weight: 400;
    line-height: 100%;
    margin-left: 0%;
    height: 58px;
    width: 100%;
    margin-top: 10px;
}

.health-btn{
    display: block;
    margin-left: 75%;
    margin-top: 0px;
    width: 14%;
    height: 14px;
    font-size: 10px;
    color: #dc4b25;
    line-height: 12.57px;
    font-weight: 400;
    background: #d9d9d9;
    padding: 2px;
}
.r-2{
    display: none;
}
.hc{
    grid-row: 1;
    width: 100%;
    margin-left: 4%;
    margin-bottom: 0px;
    margin-top: 50px;
}
.hc p{
    font-size: 150%;
}
.hc1{
    display: none;
}
.hc2{
    width: 80%;
    margin-left: -150px;
}
.hc2-text{
    font-weight: 700;
    margin-left: -50px;
    margin-top: 20px;
}

.breaking-news-bar{
    width: 249%;
    height: 88px;
    margin-top: 200px;
    margin-left: -75%;
}
.breaking-news-bar-title{
    width: 50%;
    height: 88px;
    margin-left: 0px;
    padding: 0 2%;
}
.breaking-news-bar-title h1{
    font-size: 100%;
    width: 100%;
    height: 48px;
    font-weight: 900;
    line-height: 12.75px;
    margin-top: 30px;
    margin-left: 20px;
}
.breaking-news-bar p{
    height: 25px;
    top: 2203px;
    font-size: 80%;
    line-height: 100%;
    word-spacing: 8%;
    padding: 0 20px;
    width: 100%;
}
/*Editorials container*/
#editorials{
    position: relative;
    top: 720px;
    height: 450px;
    width: 200%;
    margin-left: -75%;
}
.editorials-title{
    position: absolute;
    width: 40%;
    height: 40px;
    left: 2%;
    top: 10px;
}
.editorials-title::after{
    height: 40px;
}
.editorials-title h1{
    font-size: 150%;
}
.editorials-contents{
    grid-template-columns:1fr; 
    margin-top: 0px; 
    width: 95%;
    margin-left: 0px;
    padding-left: 2.5%;
}
.editorials-content{
    top: 50px;
    width:100%;
    margin-top: 20px;
    margin-left: 0%;
}
.editorials-content img{
    width: 35%;
}
.editorials-content-text{
    margin-left: 15px;
    margin-top: 0px;
    font-weight: normal;
    padding: 0%;
    width: 100%;
}
.editorial-btn{
    display: block;
    margin-left: 70%;
    margin-top:80px;
    width: 81px;
    height: 21px;
    font-size: 10px;
    color: #000;
    line-height: 12.57px;
    font-weight: 400;
    background: #ffe500;
    padding: 2px;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#aviation{
    display: none;
}
/*Environment*/
#environment-observationcartoon{
    grid-template-columns: 1fr;
    margin-top: 750px;
    width: 240%;
    margin-left: -65%;
}
.environment-container{
    width: 100%;
}
.environment-title{
    width: 40%;
    height: 40px;
    margin-left: 7%;
}
.environment-title::after{
height: 40px;
}
.environment-title h1{
font-size: 150%;
}
.environment-img {
    margin-top:20px;
    margin-left: 2%;
  width: 90%;
  height: 380px;
  padding: 0%;
}
.environment-img img{
    width: 100%;
    margin-left: 0%;
}
.environment-img p{
    width: 100%;
    height: 74px;
    margin-left: 2%;
    font-size: 200%;
    line-height: 100%;
    font-weight: 700;
}


/*Latest news mobile*/
.latest-news{
    margin-top: -1900px;
    margin-left: -70%;
    background: #fdfcfc;
    width: 200%;
    padding: 0 3%;
}

.latest-news-title{
    color: #d924dd;
    font-size: 100%;
    font-weight: 700;
    line-height: 100%;
}
.latest-news-title p{
    width: 35%;
    margin-left: 0%;
}
.latest-news-content{
    width: 100%;
    height: 48px;
    padding: 1% 0;
    border-top: none;
    border-left: none;
    border-right: none;
}
.latest-news-content p{
    font-weight: 400;
    font-size: 14px;
    line-height: 17.6px;
    color: #d60c0c;
    width: 100%;
    margin-top:20px;
}


/*Observercartoon*/
.observercartoon-container{
    margin-top: 20px;
}
.observercartoon-title{
    width: 40%;
    height: 40px;
    left: 50%;
    top: 10px;
    margin-left: -3%;
}
.observercartoon-title::after{
height: 40px;

}
.observercartoon-title h1{
font-size: 150%;
}
.observercartoon-img{
    margin-top: 20px;
    margin-left: 2%;
    width: 90%;
  
}
.observercartoon-img img{
    width: 100%;
}

.observercartoon-img p{
    width: 100%;
    height: 74px;
    margin-left: 2%;
    font-size: 200%;
    line-height: 100%;
    font-weight: 700;
}
.footer{
    width: 250.6%;
    margin-left: -75%;
    height: 1300px;
    margin-top: -100px;
    background: #000;
}
.footer-img1{
    display: none;
}
.footer-img2{
    display: none;
}
.footer-nav{
    grid-template-columns: 1fr;
    margin-top: -1250px;
    width: 100%;
}
.grid1 img{
    margin-left: 0px;
}
.grid1 p{
    width: 160%;
    font-size: 14px;
    text-align: center;
    margin-left: -40%;
}
.icons{
    margin-top: 0px;
    margin-left: -100px;
    width: 160%;
}
.icons p{
    font-size: 12px;
    margin-left: 200px;
}
.grid2{
    margin-top: 20px;
    margin-left: -200px;
}
.grid2 li{
    padding: 10px 0;
}
.grid2 li a{
    text-transform: uppercase;
    text-align: center;
    margin-left: 100px;
    width: 100%;
    font-size: 15px;
}

.grid2 a:hover{
    color: #dd4b24;
}

.grid-title{
    margin-left:100px;
}
.grid3{
    margin-left: 45%;
    margin-top: -300px;
}
.grid3 .grid-title{
    margin-left: 50px;
}
.grid3 li{
    padding: 10px 0;
}
.grid3 a{
    margin-left: 50px;
    font-size: 15px;
}
.grid3 a:hover{
    color: #dd4b24;
}
.grid4{
    margin-left: -220px;
    width: 200%;
    margin-top: 30px;
    height: 350px;
    
}
.grid4 .grid-title p{
    margin-left: 170px;
    width: 130%;
    font-size: 17px;
    word-spacing: 10px;
}
.grid4 .text{
    font-size: 17px;
    width: 98.8%;
    padding: 0;
    font-weight: bold;
    height: 20px;
    margin-left: -15px;
    margin-top: 10px;
    text-align: center;
}
input{
    width: 70%;
    padding: 20px;
    margin-top:20px;
    margin-left: 5.5%;
}
.submit-btn{
    width: 76%;
}
.copyright{
    margin-left: -20%;
    width: 98%;
    margin-top: 0px;
    text-align: center;
    font-size: 65px;
}
.footer-social-icons{
    margin-left: -70px;
    margin-top: 20px;
    width: 150%;
}
.footer-social-icon{
    width: 60px;
    height: 50px;
    margin-left: 30px;
}
.grid5{
    display: none;
}
#sports{
    display: none;
}
.opinions-container{
    display: none;
}
}

