
@media screen and (max-width: 600px){
    body{
        padding: 0; 
        height: 7792px;
        width: 99.7%;
        margin: 0;
    }
    nav{
        height: 200px;
        width: 100%;
    }
    .logo{
       margin-top: 30px;
       width: 50%;
       margin-left: 0%;
    }
    .logo img{
        width: 100%;
    }
    .nav-icons{
        display: flex;
        margin-left: 0%;
        width: 30%;
        margin-left: 70%;
        margin-top: -60px;
        cursor: pointer;
    }
    .search-icon{
        width: 10%;
    }
    
    .menu-icon{
        margin-left: 40%;
    }
    .remove{
        display: none;
    }
    
     .nav-list {
        display: flex;
        align-items: center;
        justify-content: center;
        background: #d6d6d6;
        margin-top: 38px;
        padding: 9px 1%;
        width: 100%;
        margin-left: 0%;
    }
    .nav-list li{
        border: 2px solid #dc4b25;
        padding: 5px 5%;
        border-top: none;
        border-bottom: none;
        border-left: none;
        list-style: none;
        width: 20%;
    }
    .active{
        display: none;
    }
    .nav-list .a2{
        border-right: none;
    }
    .nav-list a{
        position: relative;
        color: black;
        text-decoration: none;
        margin-left: 15%;
    }
    a::after{
        content: '';
        width: 0;
        height: 2px;
        background-color: #24cfdd;
        position: absolute;
        left: 0;
        top: 100%;
    }
    .nav-list li a:hover::after{
        width: 100%;
    }
    
    .vec{
        display: block;
        margin-left: 78px;
        margin-top: -13px;
    }
    .topstories{
        padding: 0;
        width: 99%;
        margin-left: 0.25%;
        margin-top: 50px;
        height: auto;
    }
    .title{
        position: relative;
            width: 70%;
            height: 50.21px;
            left: 0%;
            top: 0px;
            background: #fff;
            box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.07);
    }
    .title::before{
        content: '';
        width: 100%;
        height: 50.21px;
        background-color: #ecff03;
        z-index: -1;
        position: absolute;
        left: 10px;
        top: 20%;
    }
    .title h1{
        color: #dc4b25;
        font-size: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
    }
    
    .topstories-contents{
        grid-template-columns: 1fr;
        margin-top: 60px;
        width: 95%;
        margin-left: 2%;
        padding: 0px;
        height: auto;
    }
    .left{
    display: none;
    }
    .center{
        grid-row: 1;
        width: 100%;
        height: 350px;
    }
    .image-cont{
        width: 100%;
        margin-left: 0%;
        height: 220px;
    }
    .center-img{
        height: 206px;
        width: 99.7%;
    }
    .img-text{
        margin-left: 0%;
        width: 99%;
        height: auto;
        margin-top: 5px;
    }
    .img-text p{
        width: 100%;
        height: 14px;
        font-weight: 700;
        font-size: 11px;
        line-height: 13.83px;
        color: #be4a38;
        text-transform: uppercase;
    }
    
    .img-text h1{
        font-weight: 900;
        font-size: 150%;
        line-height: 100%;
        width: 95%;
        height: auto;
        margin-top: 5px;
        color: #000
    }
    .topstories-content{
        display: none;
    }
    .topstories-content img{
        display: none;
    }
    .name-date {
        display: flex;
        width: 70%;
        height: 14px;
        text-transform: none;
        word-spacing: 5px;
        margin-top: 0px;
        font-size: 12px;
        font-family: 'Lato';
        font-weight: 400;
        line-height: 14.4px;
    }
    p.name{
        text-transform: none;
        color: #5f5f5f;
        margin-top: 0;
    }
    p.date{
        margin-left: 20%;
        text-transform: none;
        color: #5f5f5f;
        margin-top: 0;
    }
    
    .right{
        margin-left: 0%;
        width: 100%;
        margin-top: 0px;
    }
    .right-content{
        border: 1px solid #d9d9f9;
        width: 95%;
        padding: 20px 0;
        margin-left: 1%;
        border-left: none;
        border-right: none;
        border-top: none;
        
    }
    .right-title{
        width: 40%;
        height: 23px;
    margin-left: 2%;
    }
    .right-title h3{
        width: 100%;
        font-size: 18px;
        line-height: 22.63px;
        color:#be4a3b;
        margin-left: 4%;
    }
    .right-content-text{
        width: 100%;
        height: auto;
        top: 359px;
        margin-left: 4%;
    }
    .right-content-text p{
        font-weight: 900px;
        font-size: 100%;
        line-height: 17.6px;
        width: 90%;
    }
    
     
    /*politics container-mobile*/
.politics{
    position: relative;
    margin-top: 50px;
    width: 97.5%;
    height: auto;
    margin-left: 0%;
    padding-left: 2%;
}
.politics-title{
    width: 70%;
    height: 40.11px;
    margin-left: 0%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    }
.politics-title::after{
    content: '';
    width: 68%;
    height: 40.11px;
    top: 8px;
    left: 4%;
    background: #ecff0d;
    position: absolute;
    z-index: -1;
    }
.politics-title h1{
    width: 2000%;
    height: 25px;
    top: 1192px;
    left: 57px;
    color: #dc4b25;
    font-family: 'merriweather';
    width: 900px;
    font-size: 150%;
    line-height: 100%;
    margin-left: 35%
   }

.politics-contents{
    grid-template-columns: 1fr;
    margin-left: 0%;
    width: 99%;
    height: 650px;
    margin-top: 20px;
}
.politics-content{
    display: flex;
    margin-top: 10px;
    width: 100%;
    margin-left: 0%;
    height: auto;
}
.politics-content img{
    margin-top: 0px;
    width: 30%;
    margin-left: 0%;
}
.politics-content-text{
    margin-top: 0px;
    width: 70%;
    margin-left: 2%;
}
.politics-content-text p{
    width: 100%;
    font-size: 105%;
}
/*Latest news mobile*/
.latest-news{
    margin-top: 0px;
    margin-left: 0%;
    background: #fdfcfc;
    width: 99.5%;
}

.latest-news-title p{
    color: #d924dd;
    font-weight: 700;
    line-height: 100%;
    width: 90%;
    font-size: 200%;
    margin-left: 0%;
}
.latest-news-contents{
    margin-top: 0px;
    width: 98%;
    padding: 0 1%;
}
.latest-news-content{
    width: 100%;
    height: auto;
    margin-left: 0%;
    padding: 0%;
    margin-top: 0px;
}
.latest-news-content p{
    width: 100%;
padding: 0;
margin-left: 0%;
font-size: 130%;
}
#sports{
    display: none;
}
/*business container-mobile*/
#business{
    position: relative;
    width: 99.5%;
    margin-left: 0%;
    height: 780px;
    margin-top: 80px;
}
.business-title{
    position: absolute;
        width: 70%;
        height: 41.55px;
        left: 0%;
        top: -70px;
        background: #fff;
        box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.07);
        bottom: -100px;
}
.business-title::after{
    content: '';
    width: 100%;
    height: 41.55px;
    background-color: #d924dd;
    z-index: -1;
    position: absolute;
    left: 3%;
    top: 20%;
}
.business-title h1{
    color: #dc4b25;
    font-size: 150%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.business-contents{
    grid-template-columns: 1fr;
    margin-left: 0%;
    margin-top: 120px;
    height: 720px;
    width: 99.5%;
}
.business-content img{
    width: 50%;
}
.business-content{
    display: flex;
    width: 96%;
    margin-left: 2%;
    margin-top: 10px;
}
.sports-content-text{
    width: 100%;
    margin-left: 2%;
}

/*Breaking news bar-mobile*/
.breaking-news-bar{
    display: flex;
    align-items: center;
    width: 100%;
    height: 81px;
    top: 2170px;
    margin-left: 0%;
    background: #ecff0d;
}
.breaking-news-bar-title{
    width: 30%;
    height: 81px;
    top: 2168px;
    margin-left: 0%;
    background: #dd4a24;
    display: flex;
    align-items: center;
    justify-content: center;
}
.breaking-news-bar-title h1{
    text-transform: uppercase;
    color: #fff;
    font-size: 80%;
    line-height: 28.91px;
}
.breaking-news-bar p{
    width: 75%;
    height: auto;
    top: 2203px;
    font-weight: 400;
    font-size: 70%;
    line-height: 100%;
    word-spacing: 50%;
    padding: 0;
    margin-left: 3%;
}

/*Health container*/
#health{
    position: relative;
    margin-top: 0px;
    width: 99.5%;
    margin-left: 0%;
    height: auto;
}
.health-title{
    position: absolute;
    width: 70%;
    height: 41.55px;
    left: 0%;
    top: -80px;
    background: #fff;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.07);
}
.health-title::after{
    content: '';
    width: 100%;
    height: 41.55px;
    background-color: #dc4b25;
    z-index: -1;
    position: absolute;
    left: 3%;
    top: 20%;
}
.health-title h1{
    color: #dc4b25;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.health-contents{
    grid-template-columns: 1fr;
    height: auto;
    width: 100%;
    margin-top: 100px;
    margin-left: 0%;
}
.hc{
    grid-row: 1;
}

.health-content{ 
    flex-direction: column; 
    margin-left: 1.5%;
    width: 97%;
    margin-top: 0px;
}

.health-content img{
    width: 70%;
    height: 154px;
    margin-left: 0%; 
    margin-top: 0px; 
}
.health-content-text{
    font-size: 100%;
    font-weight: 400;
    line-height: 100%;
    margin-left: 0%;
    height: 58px;
    width: 90%;
    margin-top: 10px;
}
.health-btn{
    display: block;
    margin-left: 75%;
    margin-top: 0px;
    width: 20%;
    height: 14px;
    font-size: 70%;
    color: #dc4b25;
    line-height: 100%;
    font-weight: 400;
    background: #d9d9d9;
    padding: 1.5%;
    text-align: center;
    text-decoration: none;
}
.r-2{
    display: none;
}
.hc1{
    display: none;
}

.health-content-text-hc2-text{
    font-weight: 700;
    margin-left: 0%;
    margin-top: 20px;
    width: 90%;
}
/*Editorials container*/
#editorials{
    position: relative;
    top: 50px;
    width: 99.5%;
    height: auto;
    margin-left: 0%;
}
.editorials-title{
    position: absolute;
    width: 70%;
    height: 41.55px;
    left: 0%;
    top: -70px;
    background: #fff;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.07);
    bottom: 0px;
}
.editorials-title::after{
    content: '';
    width: 100%;
    height: 41.55px;
    background-color: #000;
    z-index: -1;
    position: absolute;
    left: 10px;
    top: 20%;
}
.editorials-title h1{
    color: #dc4b25;
    font-size: 150%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}
.editorials-contents{
    margin-top: 80px;
    height: auto;
}
.editorials-content{
    display: flex;
    width:98%;
    margin-top: 30px;
    margin-left: 1%;
}
.editorials-content img{
    width: 40%;
    margin-left: 0%;
    height: 80px;
}
.editorials-content-text{
    margin-left: 2%;
    margin-top: 0px;
    font-weight: normal;
    padding: 0%;
    width: 100%
}
.editorial-btn{
    display: block;
    margin-left: 70%;
    margin-top: 60px;
    height: 21px;
    font-size: 100%;
    color: #000;
    line-height: 100%;
    font-weight: 400;
    background: #ffe500;
    padding: 0 2.5%;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    width: 25%;
}

#aviation{
    display: none;
}
.opinions-container{
    display: none;
}
.editorpick-container{
    display: none;
}
/*Environment*/
#environment-observationcartoon{
    grid-template-columns: 1fr;
    margin-left: 0%;
    margin-top: 100px;
    width: 99.5%;
}
.environment-container{
    width: 100%;
    margin-left: 0%;
    height: 500px;
    padding: 0%;
}
.environment-title{
    position: relative;
    width: 70%;
    height: 41.55px;
    left: 0%;
    top: 0px;
    background: #fff;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.07);
}
.environment-title::after{
    content: '';
    width: 100%;
    height: 41.55px;
    background-color: #ecff0d;;
    z-index: -1;
    position: absolute;
    left: 5%;
    top: 20%;
}
.environment-title h1{
    color: #dc4b25;
    font-size: 150%;
    margin-top: 20px;
    margin-left: 15%;
}

.environment-img {
    margin-top: 50px;
    margin-left: 1.5%;
  width: 97%;
  padding: 0%;
}
.environment-img img{
    width: 100%;
}
.environment-img p{
    width: 100%;
    height: 74px;
    margin-left: 1%;
    font-size:150%;
    line-height: 100%;
    font-weight: 700;
    color: #fff;
    margin-top: -150px;
}
.environment-img .name{
    margin-top: 0px;
    height: 20px;
    width: 100%;
    font-size: 100%;
}

.environment-img .date{
    margin-top: 0px;
    height: 20px;
    width: 100%;
    font-size: 100%;
}
/*Observercartoon*/
.observercartoon-container{
    margin-top: 50px;
    height: auto;
    width: 96%;
    padding: 0 2%;
}
.observercartoon-title{
    position: relative;
    width: 70%;
    height: 41.55px;
    left: 28.5%;
    top: 0px;
    background: #fff;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.07);
}

.observercartoon-title::after{
content: '';
width: 100%;
height: 41.55px;
background-color: #d924dd;
z-index: -1;
position: absolute;
left: 5%;
top: 20%;
}
.observercartoon-title h1{
color: #dc4b25;
font-size: 130%;
display: flex;
align-items: center;
justify-content: center;
margin-top: 10px;
width: 100%;
margin-left: 3%;
}

.observercartoon-img{
    margin-top: 70px;
    margin-left: 0%;
  width: 100%;
  padding: 0%;
  height: auto;
}
.observercartoon-img img{
    width: 100%;
}

.observercartoon-img p{
    width: 100%;
    height: 74px;
    margin-left: 1%;
    font-size: 160%;
    line-height: 100%;
    font-weight: 700;
    margin-top: -150px;
    color: white;

}
.observercartoon-img .name{
    margin-top: -100px;
    height: 20px;
    width: 100%;
    font-size: 100%;
    color: white;
}

.observercartoon-img .date{
    margin-top: -100px;
    height: 20px;
    width: 100%;
    font-size: 100%;
    color: white;
}

.observercartoon-img span{
    margin-top: 150px;
    background: none;
}
.footer{
    width: 100%;
    margin-left: 0%;
    height: 1500px;
    margin-top: 0px;
    background: #000;
}
.footer-img1{
    display: none;
}
.footer-img2{
    display: none;
}
.footer-nav{
    grid-template-columns: 1fr;
    margin-top: -1450px;
    width: 100%;
    color: #fff;
}
.grid-title{
    margin-left: 0;
    text-decoration: underline;
}

.grid1{
    width: 98%;
    margin-left: 1%;
}
.grid1 img{
 width: 70%;   
}
.grid1 p{
    width: 100%;
    font-size: 100%;
    text-align: center;
}
.icons{
    margin-top: 0px;
}
.icon img{
    width: 3%;
    margin-top: 30px;
    margin-left: 15%;
}
.icons p{
    font-size: 12px;
    text-align: left;
    width: 70%;
    margin-left: 25%;
    margin-top: -20px;
}

.grid2{
    margin-top: 20px;
    margin-left: 2%;
    width: 45%;
    padding-left: 0%;
}
.grid2 li{
    padding: 10px 0;
    width: 100%;
    margin-left: 0%;
    list-style: none;
}
.grid2 li a{
    text-transform: uppercase;
    margin-left: 0%;
    width: 90%;
    text-decoration: none;
    color: #fff;
}

.grid2 a:hover{
    color: #dd4b24;
}

.grid2 .grid-title{
    margin-left: 15%;
}
.grid3{
    margin-left: 50%;
    margin-top: -320px;
    width: 48%;
    text-transform: uppercase;
    text-align: center;
}
.grid3 .grid-title{
    margin-left: 0%;
    text-transform: none;
    margin-top: 5px;
}

.grid3 li{
    padding: 11px 0;
    text-align: left;
    list-style: none;
    margin-left: 0;
}
.grid3 a{
    margin-left: 0px;
    font-size: 90%;
    text-decoration: none;
    color: #fff;
}
.grid3 a:hover{
    color: #dd4b24;
}
.grid4{
    margin-left: 2%;
    width: 95%;
    margin-top: 30px;
}
.grid4 .grid-title p{
    margin-left: 0px;
    width: 100%;
    font-size: 100%;
    word-spacing: 10px;
}
.grid4 .grid-title{
    width: 100%;
    margin-left: 0;
    text-align: center;
}
.grid4 .text{
    font-size: 13px;
    width: 98.8%;
    padding: 0;
    font-weight: bold;
    height: 20px;
    margin-left: 0%;
    margin-top: 10px;
    text-align: center;
}
input{
    width: 90%;
    padding: 20px;
    margin-top:20px;
    color: #fff;
    background: transparent;
    outline: none;
    margin-left: 0.5%;
}
.submit-btn{
    width: 97.5%;
    background: #dc4b25;
    cursor: pointer;
}
.copyright{
    margin-left: 0%;
    width: 98%;
    margin-top: 20px;
    text-align: center;
}
.footer-social-icons{
    margin-left: 17%;
    margin-top: 20px;
    width: 60%;
    display: flex;
}
.footer-social-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    margin-left: 20px;
    background:  #212121;
    border-radius: 7px;
}
.footer-social-icon img{
    width: 50%;
   }
   
.grid5{
    display: none;
}
#sports{
    display: none;
}
   
}